.provas-container {
  max-width: 900px;
  margin: 60px auto;
  text-align: center;
}

.btn.sair {
  position: fixed;      
  top: 20px;
  right: 20px;
  background: #e63946;
  padding: 10px 18px;
  z-index: 999;          
}

.btn.sair:hover {
  background: #c62828;
}


.titulo-pagina {
  font-size: 32px;
  font-weight: bold;
  color: #222;
  margin-bottom: 40px;
}

.lista-provas {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.prova-card {
  background: #fff;
  padding: 25px 30px;
  border-radius: 16px;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.08);
  text-align: left;
}

.prova-card h2 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #222;
}

.prova-card p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #555;
}

/* BOTÕES */
.btn {
  padding: 12px 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  color: white;
  transition: 0.2s;
}

.responder {
  background: #1e90ff;
}

.responder:hover {
  background: #1773c7;
}

.historico {
  background: #444;
  margin-top: 35px;
}

.historico:hover {
  background: #222;
}

/* Texto quando não tiver provas */
.nenhuma-prova {
  font-size: 18px;
  margin-top: 20px;
  color: #666;
}
